@{
    ViewData["Title"] = "Home Page";
}

@{
    string nome = "David";
    string cognome = "Dume";

    int sommaN(int n)
    {
        int somma = 0;
        for(int i = 0; i <= n; i++)
        {
            somma += i;
        }
        return somma;
    }

    int sommaChar()
    {
        string frase = "nel mezzo del cammin di nostra vita";
        char[] arr = frase.ToCharArray();

        int somma = 0;
        foreach (char el in arr)
        {
            if (el == 'a')
            {
                somma += 1;
            }
        }
        return somma;
    }
    
}

<div class="text-center">
    <h2>@nome @cognome</h2>

    <span>@sommaN(5)</span>

    <h1>@sommaChar()</h1>
</div>
