<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Foto</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Marghertia</td>
            <td>Pomodoro e Mozzarella</td>
            <td><img src="https://picsum.photos/50/50" /></td>
            <td>8 €</td>
        </tr>
        <tr>
            <td>Quattro Formaggi</td>
            <td>Mozzarella e Formaggi Vari</td>
            <td><img src="https://picsum.photos/50/50" /></td>
            <td>8 €</td>
        </tr>
        <tr>
            <td>Diavola</td>
            <td>Pomodoro, Mozzarella e Salame Piccante</td>
            <td><img src="https://picsum.photos/50/50" /></td>
            <td>8 €</td>
        </tr>
    </tbody>
</table>